@value mobileAndSmaller from "../../Breakpoints.module.css";

.comment-wrapper {
    margin-bottom: 20px;
}

.replies {
    margin-left: 44px;
    border-left: 2px solid var(--color-neutral-light-grey);
    padding-left: 44px;

    @media mobileAndSmaller {
        margin-left: 0;
        padding-left: 16px;
    }
}
