@value mobileAndSmaller from "../../Breakpoints.module.css";

.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    padding: 24px;
    background-color: var(--color-white);
    border-radius: 8px;

    @media mobileAndSmaller {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.user-profile-image {
    width: 44px;
}

.text-area {
    flex: 1;
    min-height: 96px;
    padding: 16px 24px;
    border: 1px solid var(--color-neutral-light-grey);
    border-radius: 6px;
    cursor: pointer;

    @media mobileAndSmaller {
        min-width: 100%;
        order: -1;
    }
}

.submit-button {
    padding: 16px 32px;
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
    line-height: 1;
    background-color: var(--color-primary-blue);
    text-transform: uppercase;
    border-radius: 6px;

    &:active {
        background-color: var(--color-primary-light-blue);
    }
}
