.button {
    padding-block: 16px;
    min-width: calc(100rem / 16);
    color: var(--color-white);
    text-align: center;
    font-weight: var(--font-weight-medium);
    line-height: 1;
    text-transform: uppercase;
    border-radius: 6px;
}

.button-primary {
    background-color: var(--color-primary-blue);

    &:active {
        background-color: var(--color-primary-light-blue);
    }
}

.button-secondary {
    background-color: var(--color-neutral-grey-blue);

    &:active {
        background-color: var(--color-neutral-light-grey);
    }
}

.button-danger {
    background-color: var(--color-primary-red);

    &:active {
        background-color: var(--color-primary-light-red);
    }
}
