@value tabletAndSmaller from "../../Breakpoints.module.css";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 90px 54px;

    @media tabletAndSmaller {
        padding-block: 28px 32px;
    }
}

.nav {
    @media tabletAndSmaller {
        display: none;
    }
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    color: inherit;
    text-decoration: none;
}

.nav-item:hover {
    color: var(--color-soft-red);
}