@value mobileAndSmaller from "../../Breakpoints.module.css";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: fit-content;
    padding: 12px;
    background-color: var(--color-neutral-very-light-grey);
    border-radius: 8px;
    line-height: 1;

    @media mobileAndSmaller {
        flex-direction: row;
        gap: 16px;
    }
}

.vote-button {
    --padding: 8px;

    width: calc(var(--padding) * 2 + calc(12rem / 16));
    height: calc(var(--padding) * 2 + calc(12rem / 16));
    padding: var(--padding);
    margin: calc(var(--padding) * -1);
}

.vote-button-icon {
    width: 100%;
    height: 100%;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-primary-light-blue);

    .vote-button:active & {
        background-color: var(--color-primary-blue);
    }
}

.down-vote-button-icon {
    margin-left: 1px;
}

.votes {
    font-weight: var(--font-weight-medium);
    color: var(--color-primary-blue);
}
