.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    min-width: min-content;
    padding: 24px;
    background-color: var(--color-white);
    border-radius: 8px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.metadata-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-name {
    color: var(--color-neutral-dark-blue);
    font-weight: var(--font-weight-medium);
}

.user-profile-image {
    width: 32px;
    height: 32px;
}

.action-button {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--color-primary-blue);
    font-weight: var(--font-weight-medium);
}

.action-button-icon {
    width: 16px;
    min-width: 16px;
}
