.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    min-width: min-content;
    padding: 24px;
    background-color: var(--color-white);
    border-radius: 8px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.metadata-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-name {
    color: var(--color-neutral-dark-blue);
    font-weight: var(--font-weight-medium);
    text-wrap: nowrap;
}

.user-profile-image {
    width: 32px;
    height: 32px;
}

.action-button-group {
    display: flex;
    gap: calc(26rem/ 16);
}

.action-button {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--action-button-color);
    font-weight: var(--font-weight-medium);
}

.action-button-icon {
    width: 16px;
}

.you-tag {
    margin-inline-start: calc(2rem / 16);
    padding: 2px 4px;
    font-size: 0.8rem;
    color: var(--color-white);
    background-color: var(--color-primary-blue);
    border-radius: 2px;
}

.you-tag>span {
    display: inline-block;
    transform: translateY(-1px);
}
